<% if @room.errors.any? %>
	<div id="erro_explanation">
		<h2>Infelizmente não possivel cadastrar o quarto pois o formulario possui os seguintes erros:</h2>
		<ul>
			<% @room.errors.full_messages.each do |message|%>
			<li><%=message%></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @room do |f| %>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</p>
		<%= f.label :location %>
		<%= f.password_field :location %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>
<% end %>