<p id="notice"><%= notice %></p>
<h2>Title: <%= @room.title%></h2>

<ul>
	<li>Location: <%= @room.location%></li>
	<li>Descripition: <%= @room.description %></li>
</ul>
<%= link_to 'Editar Perfil', edit_room_path(@room)%>